@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto:wght@100&display=swap');

.c-education{
    position: relative;
    top: -17vh;
    left: 89vh;
    font-family: 'Raleway', sans-serif;
}
