@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto:wght@100&display=swap');

.menu {
    height: auto;
    left: 50%;
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: 40vw;

    .menu__buttons {
        height: 10vw;
        position: absolute;
        top: 40vh;
        transform: translateX(-50%);
        width: 10vw;


        .btn {
            border: none;
            border-radius: 50%;
            -webkit-box-shadow: 3px 8px 10px -1px rgba(0, 0, 0, 0.75);
            box-shadow: 3px 8px 10px -1px rgba(0, 0, 0, 0.75);
            cursor: pointer;
            font-family: 'Raleway', sans-serif;
            font-size: 12px;
            font-weight: bold;
            height: 80px;
            margin: 2px;
            position: absolute;
            text-align: center;
            width: 80px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }

        .btn:hover {
            opacity: 70%;
        }

        .contact {
            left: -2vh;
            top: -31vh;
        }

        .about {
            left: -2vh;
            top: -3vh;
        }

        .education {
            left: 9vh;
            top: -25vh;
        }

        .experience {
            left: -14vh;
            top: -25vh;
        }

        .habilities {
            left: 10vh;
            top: -10vh;
        }

        .languages {
            left: -15vh;
            top: -10vh;

        }

        .menu__img-div {
            height: 133px;
            left: -6vh;
            margin: 10px;
            position: relative;
            top: -21vh;


            .menu__img-image {
                border-radius: 50%;
                -webkit-box-shadow: 3px 8px 10px -1px rgba(0, 0, 0, 0.75);
                box-shadow: 3px 8px 10px -1px rgba(0, 0, 0, 0.75);
                height: 83%;
                margin: 5px;
            }
        }



    }




}