.menu {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;

    width: 40vw;
    height: auto;
    position: absolute;
    top: 25vh;
    left: 55vh;
    z-index: 9999;
    padding: 0px;
    margin: 0px;


    .menu__buttons {
        //    display: flex;
        //    justify-content: center;

        position: absolute;
        width: 10vw;
        height: 10vw;
        left: 50%;
        transform: translateX(-50%);
        top: 40vh;


        .btn {
            border: none;
            margin: 2px;
            height: 80px;
            width: 80px;
            border-radius: 50%;
            position: absolute;
            text-align: center;
           font-size: 10px;
            cursor: pointer;
            -webkit-box-shadow: 3px 8px 10px -1px rgba(0, 0, 0, 0.75);
            box-shadow: 3px 8px 10px -1px rgba(0, 0, 0, 0.75);
        }

        .btn:hover {
            opacity: 70%;
        }

        .contact {
            top: -36vh;
            left: -2vh;
        }

        .about {
            top: 3vh;
            left: -2vh;
        }

        .education {
            top: -25vh;
            left: 17vh;
        }

        .experience {
            top: -25vh;
            left: -20vh;
        }

        .habilities {
            top: -6vh;
            left: 14vh;
        }

        .languages {
            top: -6vh;
            left: -20vh;
        }

        .menu__img-div {
            position: absolute;
            margin: 10px;
            top: -21vh;
            left: -6vh;
            height: 133px;


            .menu__img-image {
                border-radius: 50%;
                height: 100%;
                -webkit-box-shadow: 3px 8px 10px -1px rgba(0, 0, 0, 0.75);
                box-shadow: 3px 8px 10px -1px rgba(0, 0, 0, 0.75);
            }
        }



    }




}