@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto:wght@100&display=swap');

.c-about{
    position: relative;
    top: 56vh;
    left: 7vh;
    font-family: 'Raleway', sans-serif;
}
