@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto:wght@100&display=swap');

.c-about{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    left: 18vh;
    position: relative;
    top: 38vh;
}
