@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto:wght@100&display=swap');

.c-contact{
    // border-bottom: 1px solid #ffc6c6;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    left: -51vh;
    position: relative;
    top: -7vh;
    width: 300px;
}