@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto:wght@100&display=swap');

.c-contact{
    // border-bottom: 1px solid #ffc6c6;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    left: -71vh;
    position: relative;
    top: -7vh;
    width: 300px;
    background-color: white;
    padding: 15px;
    width: fit-content;
    border-radius: 15px;
    box-shadow: 3px 8px 10px -1px rgb(0 0 0 / 75%);
}