.header{
   
    display: flex;
    align-items: flex-start;
    color: black;
    .header__container-img{
      
        height: 100px;
        margin: 10px;

        .header__img{
            border-radius: 50%;
            height:100%;
        }
        h1{
            padding-top: 10px;
        }

    }
}
