.header{
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: black;
    .header__container-img{
      
        height: 200px;

        .header__img{
            border-radius: 50%;
            height:100%;
        }

    }
}
