@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto:wght@100&display=swap');

.c-experience{
    position: relative;
    top: 10vh;
    left: -52vh;
    font-family: 'Raleway', sans-serif;

}
