@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto:wght@100&display=swap');

.c-habilities{
    position: relative;
    top: 40vh;
    left: 15vh;
    font-family: 'Raleway', sans-serif;

}
