@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto:wght@100&display=swap');

.c-habilities{
    position: relative;
    top: 10vh;
    left: 35vh;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    padding: 15px;
    width: fit-content;
    border-radius: 15px;
    box-shadow: 3px 8px 10px -1px rgb(0 0 0 / 75%);

}
